<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cook Book - votre recette</title>

        <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/pdf.css')}}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('images/favicon_cookbook.png')}}" type="image/x-icon">

    <!-- https://fonts.google.com/ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 
</head>

<body>

    <header id="header_id" class="container my-4">
        <div class="container row">
            <div class="col">
                <img class="logo" img src="{{asset('images/logo_cookbook_vert.jpg')}}" width="200" alt="logo CookBook">
            </div>
            <div class="col">
                <i class="bi bi-person-circle"></i> Les recette de Prénom Nom</i>
        </div>
        
    </header>

    <main class="container">
       <div class="row">
            <div class="flex-row w-50">
                <div>
                    <img src="https://www.papillesetpupilles.fr/wp-content/uploads/2018/01/Plats-mijote%CC%81s-%C2%A9Meal-Makeover-Moms-CC-BY-ND-2.0.jpg" class="mw-100" alt="">
                </div>
            </div>
            <div class="flex-row w-50">
                <h1 class="my-4">Ceci est le titre de la recette en H1</h1>
                <div>
                    <div class="row my-4">
                        <div class="col">
                            <i class="bi bi-tag"> Catégorie</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-alarm"> Duration</i>
                        </div>
                        <div class="col">
                            <i class="bi bi-bar-chart-line"> Difficulté</i>
                        </div>
                         <div class="col">
                            <i class="bi bi-calendar3">Publié le jj/mm/aaaa</i>
                        </div>
                        <div class="list-group my-4">
                            <h3>Les ingrédients</h3>
                            <ul>
                                <li>Ingrédient 1</li>
                                <li>Ingrédient 2</li>
                                <li>Ingrédient 3</li>
                                <li>Ingrédient 4</li>
                                <li>Ingrédient 5</li>
                                <li>Ingrédient 6</li>
                                <li>Ingrédient 7</li>
                                <li>Ingrédient 8</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3>Etapes de préparation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
    </main>

    <footer class="container">
        <div class="alert alert-dismissible alert-success">
            Toutes mes recettes sont disponibles sur <a href="#" class="alert-link">The Cook Book</a>.
        </div>

    </footer>

</body>

</html>



<!-- composant tailwind -->
    <!-- https://tailwindcomponents.com/components -->
    <!-- <header class="w-full p-4 flex justify-center">
        <div class="w-[1024px] flex justify-between">
            <a href="/">
                <img src="" alt="logo">
            </a>

            <nav>
                <div class="hidden space-x-8 sm:flex">
                    <a href="#">Accueil</a>
                    <a href="#">Recettes</a>
                    <a href="#">Catégories</a>
                    <a href="#">Les chefs</a>
                </div>
                <div class="flex sm:hidden">
                    <div class="space-y-2">
                        <span class="block w-8 h-0.5 bg-gray-900"></span>
                        <span class="block w-8 h-0.5 bg-gray-900"></span>
                        <span class="block w-8 h-0.5 bg-gray-900"></span>
                    </div>
                </div>
            </nav>

        </div>

    </header>



    <main>

        <h1>coucou</h1>

    </main>

    <footer class="w-full p-8 flex justify-center">

        <div class="w-[1024px] flex justify-between relative">
            
            <div class="tcb-top-arrow absolute rounded-full p-2 border-4 border-white border-solid w-10 aspect-square flex justify-center items-center left-1/2 -top-1/2">
                <i class="text-white fa-solid fa-arrow-up"></i>
            </div>
           

        </div>

    </footer> -->