<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cook Book - votre recette</title>

        <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/pdf.css')}}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('images/logo_marmite.jpg')}}" type="image/x-icon">

    <!-- https://fonts.google.com/ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 
</head>

<body>

    <header id="header_id">
        <div class="tcb_container">
            <img class="logo" img src="{{asset('images/logo_cookbook_vert.jpg')}}" width="200" alt="logo CookBook">
        </div>
        
    </header>

    <main>
       
       <table class="table table-hover">

  <tbody>
    <tr class="table-active">
      
      <td height=100%>
            <div style="text-align:left" class="cards">
                <div class="cards_container">
                    <img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=pexels-pixabay-36717.jpg&fm=jpg" width=30% alt="">
                </div>
            </div>
        </td>
        
        <td>
            <div style="text-align:left" class="cards">
                 <h1>Ceci est le titre de la recette en H1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque iusto odio deleniti quam obcaecati! Consequuntur aperiam enim molestiae autem dignissimos perferendis quis, atque, sint officiis adipisci quidem laboriosam soluta.</p>
            </div>
        </td>

    </tr>
  </tbody>
</table>
    </main>

    <footer>

        <div class="tcb_container">
            <a class="tcb_btn_arrow" href="#header_id">
                <i class="fas fa-arrow-up"></i>
            </a>
    
            <ul>
                <li><a>Mentions Légales</a></li>
            </ul>
        </div>

    </footer>

</body>

</html>



<!-- composant tailwind -->
    <!-- https://tailwindcomponents.com/components -->
    <!-- <header class="w-full p-4 flex justify-center">
        <div class="w-[1024px] flex justify-between">
            <a href="/">
                <img src="" alt="logo">
            </a>

            <nav>
                <div class="hidden space-x-8 sm:flex">
                    <a href="#">Accueil</a>
                    <a href="#">Recettes</a>
                    <a href="#">Catégories</a>
                    <a href="#">Les chefs</a>
                </div>
                <div class="flex sm:hidden">
                    <div class="space-y-2">
                        <span class="block w-8 h-0.5 bg-gray-900"></span>
                        <span class="block w-8 h-0.5 bg-gray-900"></span>
                        <span class="block w-8 h-0.5 bg-gray-900"></span>
                    </div>
                </div>
            </nav>

        </div>

    </header>



    <main>

        <h1>coucou</h1>

    </main>

    <footer class="w-full p-8 flex justify-center">

        <div class="w-[1024px] flex justify-between relative">
            
            <div class="tcb-top-arrow absolute rounded-full p-2 border-4 border-white border-solid w-10 aspect-square flex justify-center items-center left-1/2 -top-1/2">
                <i class="text-white fa-solid fa-arrow-up"></i>
            </div>
           

        </div>

    </footer> -->