.tcb_pagnination {

    --bs-pagination-border-radius: 0.375rem !important;

    width: fit-content;
    border-radius: var(--bs-pagination-border-radius);
    box-shadow: 0 0 10px -3px rgba($color: #000000, $alpha: 0.5);
    overflow: hidden;

    .pagination {
        gap: 0em;

        --bs-pagination-color: var(--main-color) !important;
        --bs-pagination-bg: white !important;
        --bs-pagination-border-color: white !important;
        --bs-pagination-hover-border-color: var(--main-color) !important;

        --bs-pagination-active-bg: var(--main-color) !important;
        --bs-pagination-active-color: var(--secondary-color) !important;

        --bs-pagination-hover-color: var(--main-color) !important;
        --bs-pagination-active-border-color: transparent;


        --bs-pagination-disabled-color: var(--main-color) !important;
        --bs-pagination-disabled-bg: var(--secondaty-color) !important;
        --bs-pagination-disabled-border-color: var(--main-color) !important;

        --bs-pagination-border-width: 2px;


        .page-item:not(:first-child) .page-link {
            margin-left: 0;
        }

        .page-item:first-child,
        .page-item:last-child {
            .page-link {
                transform: scale(1.8);
                z-index: 0;
            }
        }


    }
}