<h1>Bonjour {{firstname}}</h1>

<p>Pour reinitailiser votre mot de passe, veuillez confirmer votre adresse Email en cliquant sur le lien suivant:</p>

<a href="{{ url('tcb_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
