{% extends "base.html.twig" %}

{% block title %}Back office
{% endblock %}

{% block nav %}
	<header id="header_id" style="background-color: #F55E51;">
		<div class="tcb_container">

			<div id="menuToggle">
				<input id="checkbox" type="checkbox">
				<label class="toggle" for="checkbox">
					<div class="bar bar--top"></div>
					<div class="bar bar--middle"></div>
					<div class="bar bar--bottom"></div>
				</label>
			</div>


			{% block connexion %}
            <div class="right_bar_container">
				<a href="#"><i class="fas fa-user"></i></a>
                <div class="search_container">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="recherche ...">
                </div>
            </div>
			{% endblock %}


			<nav>
				<ul>
					<li>
						<a href="{{path('tcb_admin_recipe_home')}}">Back office</a>
					</li>
					<li>
						<a href="{{path('tcb_admin_recipe_getAll')}}">Liste recettes</a>
					</li>
					<li>
						<a href="#">Liste utilisateurs</a>
					</li>
					<li>
						<a href="{{path('tcb_admin_category_getAll')}}">Liste catégories</a>
					</li>
				</ul>

			</nav>


			<a class="logo" href="{{path('tcb_admin_recipe_home')}}">
				<img src="https://cdn.worldvectorlogo.com/logos/symfony.svg" alt="logo">
			</a>


		</div>

	</header>
{% endblock %}

{% block body %}

	<div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
        <h1 style="font-weight: bold; font-size: 36px;">Bienvenue dans le back office !</h1>
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
            <img src="https://www.letribunaldunet.fr/wp-content/uploads/2021/12/philippe-etchebest-instagram-million-abonnes-762x439.jpg" alt="Philippe Etchebest heureux" style="max-width: 300px;">
        </div>
    </div>


{% endblock %}

{% block footer %}
	    <footer style="background-color: #F55E51; position: fixed; bottom: 0; left: 0; width: 100%;">

		<div class="tcb_container">
			<a class="tcb_btn_arrow" href="#header_id">
				<i class="fas fa-arrow-up"></i>
			</a>

			<ul>
				<li><a>Mentions Légales</a></li>
			</ul>
		</div>

	</footer>
{% endblock %}

