{% extends 'Front/front_base.html.twig' %}

{% block body %}
	<div class="container-about">

		<h1>L'agence O'web</h1>
		<div class="container-persons">
			<div class="person maher">
				<h3>Maher</h3>
                <div class="avatar avatar-maher">
                    <img src="https://img.freepik.com/vecteurs-libre/developpeurs-web-dessines-main_23-2148819604.jpg?w=2000" alt="">
                </div>
				<div class="description">
					<p>Rôle : Lead dev front/back</p>
                    <p>Présentation : lorem ipsum etcetc etc etc ejkqmsbfmkdf</p>
				</div>
                <div class="links">
                    <p>LinkedIn : <a href="#">ici</p></a>
                    <p>GitHub : <a href="#">là</p></a>
                </div>
			</div>
			<div class="person manuella">
				<h3>Manuella</h3>
                <div class="avatar avatar-manuella">
                    <img src="https://img.freepik.com/vecteurs-libre/programmeur-travaillant-sql_52683-22997.jpg?w=740&t=st=1694172991~exp=1694173591~hmac=59efbf52a743ab612d88660a7c4c89b31d049b191200263f7257b7e42b38a596" alt="">
                </div>
                <div class="description">
					<p>Rôle : Product Owner</p>
                    <p>Présentation : lorem ipsum etcetc etc etc ejkqmsbfmkdf</p>
				</div>
                <div class="links">
                    <p>LinkedIn : <a href="#">ici</p></a>
                    <p>GitHub : <a href="#">là</p></a>
                </div>
			</div>
			<div class="person marie">
				<h3>Marie</h3>
                <div class="avatar avatar-marie">
                    <img src="https://cdn.pixabay.com/photo/2019/05/14/17/07/web-development-4202909_640.png" alt="avatar marie">
                </div>
                <div class="description">
					<p>Rôle : Git Master</p>
                    <p>Présentation : lorem ipsum etcetc etc etc ejkqmsbfmkdf</p>
				</div>
                <div class="links">
                    <p>LinkedIn : <a href="#">ici</p></a>
                    <p>GitHub : <a href="#">là</p></a>
                </div>
			</div>
			<div class="person simon">
				<h3>Simon</h3>
                <div class="avatar avatar-simon">
                    <img src="https://cdn.pixabay.com/photo/2018/06/08/00/48/developer-3461405_640.png" alt="">
                </div>
                <div class="description">
					<p>Rôle : Scrum Master</p>
                    <p>Présentation : lorem ipsum etcetc etc etc ejkqmsbfmkdf</p>
				</div>
                <div class="links">
                    <p>LinkedIn : <a href="#">ici</p></a>
                    <p>GitHub : <a href="#">là</p></a>
                </div>
			</div>
			<div class="person oumar">
				<h3>Oumar</h3>
                <div class="avatar avatar-oumar">
                    <img src="https://img.freepik.com/vecteurs-libre/portrait-programmeur-travaillant-pc_23-2148222500.jpg?w=740&t=st=1694173201~exp=1694173801~hmac=527986529ef99cfeffe74a42b96f6cfd11e7e06029b9de5b2681682130606bde" alt="">
                </div>
                <div class="description">
					<p>Rôle : Référent technique</p>
                    <p>Présentation : lorem ipsum etcetc etc etc ejkqmsbfmkdf</p>
				</div>
                <div class="links">
                    <p>LinkedIn : <a href="#">ici</p></a>
                    <p>GitHub : <a href="#">là</p></a>
                </div>
			</div>
		</div>

	</div>

{% endblock %}

