{% extends 'Front/front_base.html.twig' %}

{% block body %}
	<div class="container-about">

		<h1>L'agence O'web</h1>
		<div class="container-persons">
			<div class="person maher">
				<h3>Maher</h3>
                <div class="avatar avatar-maher">
                    <img src="" alt="">
                </div>
				<div class="description">
					<p>Rôle : Lead dev front/back</p>
                    <p>Présentation : lorem ipsum etcetc etc etc ejkqmsbfmkdf</p>
				</div>
                <div class="links">
                    <p>LinkedIn : <a href="#">ici</p></a>
                    <p>GitHub : <a href="#">là</p></a>
                </div>
			</div>
			<div class="person manuella">
				<h3>Manuella</h3>
                <div class="avatar avatar-manuella">
                    <img src="" alt="">
                </div>
                <div class="description">
					<p>Rôle : Product Owner</p>
                    <p>Présentation : lorem ipsum etcetc etc etc ejkqmsbfmkdf</p>
				</div>
                <div class="links">
                    <p>LinkedIn : <a href="#">ici</p></a>
                    <p>GitHub : <a href="#">là</p></a>
                </div>
			</div>
			<div class="person marie">
				<h3>Marie</h3>
                <div class="avatar avatar-marie">
                    <img src="https://images.unsplash.com/photo-1581090694255-723d2dee30bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" alt="avatar marie">
                </div>
                <div class="description">
					<p>Rôle : Git Master</p>
                    <p>Présentation : lorem ipsum etcetc etc etc ejkqmsbfmkdf</p>
				</div>
                <div class="links">
                    <p>LinkedIn : <a href="#">ici</p></a>
                    <p>GitHub : <a href="#">là</p></a>
                </div>
			</div>
			<div class="person simon">
				<h3>Simon</h3>
                <div class="avatar avatar-simon">
                    <img src="" alt="">
                </div>
                <div class="description">
					<p>Rôle : Scrum Master</p>
                    <p>Présentation : lorem ipsum etcetc etc etc ejkqmsbfmkdf</p>
				</div>
                <div class="links">
                    <p>LinkedIn : <a href="#">ici</p></a>
                    <p>GitHub : <a href="#">là</p></a>
                </div>
			</div>
			<div class="person oumar">
				<h3>Oumar</h3>
                <div class="avatar avatar-oumar">
                    <img src="" alt="">
                </div>
                <div class="description">
					<p>Rôle : Référent technique</p>
                    <p>Présentation : lorem ipsum etcetc etc etc ejkqmsbfmkdf</p>
				</div>
                <div class="links">
                    <p>LinkedIn : <a href="#">ici</p></a>
                    <p>GitHub : <a href="#">là</p></a>
                </div>
			</div>
		</div>

	</div>

{% endblock %}

