{% extends 'Front/front_base.html.twig' %}

{% block body %}
<h1>Conditions Générales d'Utilisation</h1>

    <h2>Comment utiliser les recettes diffusées sur ce site</h2>

        <p>Toutes les recettes diffusées sur le site peuvent être utilisées dans le cadre des deux hypothèses décrites ci-dessous selon votre statut.</p>

        <p>Dans tous les cas, vous ne pouvez pas les reproduire pour en faire un usage commercial.</p>

        <p>Les recettes diffusées sur le site sont incorporées dans une base de données appartenant à la société The Cook Book, vous ne pouvez ni reproduire cette base de données, ni extraire des données contenues dans cette base autrement que pour votre usage privé.</p>

    <h3>Vous êtes un particulier</h3>

        <p>Vous pouvez utiliser toutes les recettes diffusées sur le site pour votre usage privé : repas entre amis ou en famille.</p>

    <h3>Vous êtes un professionnel : cuisinier, restaurateur</h3>

        <p>Vous pouvez utiliser les recettes sans droit de publier la recette elle-même et rendre visible la source de la recette sur votre menu : " Cette recette vient du site The Cook Book ".</p>

    <h2>Vous avez des recettes, faites-les partager</h2>

        <p>Inscrivez-vous et allez dans la rubrique " Ajouter une recette" et remplissez le formulaire.</p>
        <p>En remplissant le formulaire vous garantissez que :</p>
            <ol>
                <li>-A votre connaissance, cette recette ne vient pas d'un ouvrage ou d'un recueil de recettes ;</li>
                <li>-Vous autorisez The Cook Book à diffuser cette recette sur son site et à l'intégrer dans sa base de données gratuitement ;</li>
                <li>-Vous autorisez The Cook Book à la diffuser, la publier et la reproduire sur le site www.marmiton.org ou sur tout autre support. Vous pouvez être cité si vous le souhaitez.</li>
            </ol>
       

    <h2>Code de conduite</h2>

        <p>Le logo figurant sur notre site ne peut pas être utilisé, reproduit, modifié, diffusé, ou emprunté pour créer des œuvres dérivées sans notre autorisation.</p>

        <p>The Cook Book demande aux utilisateurs de ses services de respecter les droits de propriété intellectuelle d'autrui. Dès lors, si vous considérez que votre marque ou votre œuvre a été copiée ou est utilisée d'une manière susceptible de porter atteinte à vos droits tels que reconnus par la législation française sur le site The Cook Book, merci d'en informer la société The Cook Book.</p>

        <p>Vous vous engagez à ne pas vous servir du site The Cook Book pour</p>
        <p>-télécharger, envoyer, transmettre par e-mail ou de toute autre manière tout contenu qui soit illégal, nuisible, menaçant, abusif, constitutif de harcèlement, diffamatoire, vulgaire, obscène, menaçant pour la vie privée d'autrui, haineux, raciste, ou autrement répréhensible ;</p>
        <p>-porter atteinte d'une quelconque manière aux utilisateurs mineurs. Marmiton se réserve le droit, à ce titre ou lorsqu'une contribution est contraire à la ligne éditoriale de son site (sans que cela ne constitue une obligation) de supprimer tout contenu disponible via son site</p>

    <h2>Responsabilité</h2>

        <p>The Cook Book ne garantit pas le résultat des recettes diffusées sur son site, ni leur qualité. The Cook Book ne garantit pas que les recettes répondront aux attentes des internautes ou que leurs résultats seront exacts et fiables. En conséquence, la responsabilité de Marmiton.org ne saurait être engagée en cas d'erreur ou d'omission dans l'une de ces recettes, textes, informations ou illustrations diffusées sur son site.</p>
        <p>Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité.
        En conséquence, The Cook Book ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.</p>
        <p>Tout utilisateur du site The Cook Book s'engage à garantir et indemniser la société The Cook Book contre tout dommage, plainte ou demande émanant de tiers consécutif à l'envoi, la diffusion ou la transmission de contenu sur le site The Cook Book</p>

{% endblock %}