{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main>

        <div class="titles_container">
            <h1 class="page_title">The Cook Book</h1>
            <p class="page_subTitle">Phrase définissant le site</p>
        </div>

        <div class="cards">
            <a class="tcb_btn_caroussel tcb_btn_caroussel_left" >
                <i class="fas fa-arrow-up"></i>
            </a>
            <a class="tcb_btn_caroussel tcb_btn_caroussel_right">
                <i class="fas fa-arrow-up"></i>
            </a>
            <div class="card_title">
                ENTREES
            </div>
            <div class="cards_container">
                <img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=pexels-pixabay-36717.jpg&fm=jpg" alt="">
                <div class="cards_content">
                    <h2>recette 1</h2>
                    <h3>Ingredients: </h3>
                    <ul>
                        <li>Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem, ipsum....</li>
                    </ul>

                    <h3>Préparation: </h3>
                    <p class="card_presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque iusto odio deleniti quam obcaecati! Consequuntur aperiam enim molestiae autem dignissimos perferendis quis, atque, sint officiis adipisci quidem laboriosam soluta.</p>
                    
                    <div class="card_btn">
                        <a class="heart_icon"><i class="fas fa-heart"></i></a>
                        <a class="tcb_btn">voir la recette</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards">
            <a class="tcb_btn_caroussel tcb_btn_caroussel_left">
                <i class="fas fa-arrow-up"></i>
            </a>
            <a class="tcb_btn_caroussel tcb_btn_caroussel_right">
                <i class="fas fa-arrow-up"></i>
            </a>
            <div class="card_title">
                PLATS
            </div>
            <div class="cards_container">
                <img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=pexels-pixabay-36717.jpg&fm=jpg" alt="">
                <div class="cards_content">
                    <h2>recette 2</h2>
                    <h3>Ingredients: </h3>
                    <ul>
                        <li>Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem, ipsum....</li>
                    </ul>

                    <h3>Préparation: </h3>
                    <p class="card_presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque iusto odio deleniti quam obcaecati! Consequuntur aperiam enim molestiae autem dignissimos perferendis quis, atque, sint officiis adipisci quidem laboriosam soluta.</p>
                    
                    <div class="card_btn">
                        <a class="heart_icon"><i class="far fa-heart"></i></a>
                        <a class="tcb_btn">voir la recette</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards">
            <a class="tcb_btn_caroussel tcb_btn_caroussel_left">
                <i class="fas fa-arrow-up"></i>
            </a>
            <a class="tcb_btn_caroussel tcb_btn_caroussel_right">
                <i class="fas fa-arrow-up"></i>
            </a>
            <div class="card_title">
                DESSERTS
            </div>
            <div class="cards_container">
                <img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=pexels-pixabay-36717.jpg&fm=jpg" alt="">
                <div class="cards_content">
                    <h2>recette 3</h2>
                    <h3>Ingredients: </h3>
                    <ul>
                        <li>Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem, ipsum....</li>
                    </ul>

                    <h3>Préparation: </h3>
                    <p class="card_presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque iusto odio deleniti quam obcaecati! Consequuntur aperiam enim molestiae autem dignissimos perferendis quis, atque, sint officiis adipisci quidem laboriosam soluta.</p>
                    
                    <div class="card_btn">
                        <a class="heart_icon"><i class="far fa-heart"></i></a>
                        <a class="tcb_btn">voir la recette</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards">
            <a class="tcb_btn_caroussel tcb_btn_caroussel_left">
                <i class="fas fa-arrow-up"></i>
            </a>
            <a class="tcb_btn_caroussel tcb_btn_caroussel_right">
                <i class="fas fa-arrow-up"></i>
            </a>
            <div class="card_title">
                APERITIF
            </div>
            <div class="cards_container">
                <img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=pexels-pixabay-36717.jpg&fm=jpg" alt="">
                <div class="cards_content">
                    <h2>recette 4</h2>
                    <h3>Ingredients: </h3>
                    <ul>
                        <li>Lorem, ipsum.</li>
                    </ul>

                    <h3>Préparation: </h3>
                    <p class="card_presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque iusto odio deleniti quam obcaecati! Consequuntur aperiam enim molestiae autem dignissimos perferendis quis, atque, sint officiis adipisci quidem laboriosam soluta.</p>
                    
                    <div class="card_btn">
                        <a class="heart_icon"><i class="far fa-heart"></i></a>
                        <a class="tcb_btn">voir la recette</a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </main>
{% endblock %}
