{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<main>

        <div class="titles_container">
            <h1 class="page_title">The Cook Book</h1>
            <p class="page_subTitle">Phrase définissant le site</p>
        </div>

        <div class="cards">
            <a class="tcb_btn_caroussel tcb_btn_caroussel_left" >
                <i class="fas fa-arrow-up"></i>
            </a>
            <a class="tcb_btn_caroussel tcb_btn_caroussel_right">
                <i class="fas fa-arrow-up"></i>
            </a>
            <div class="card_title">
                ENTREES
            </div>
            <div class="cards_container">
                <img src="https://img.freepik.com/vecteurs-libre/concept-recette-empanada_52683-39138.jpg?w=996&t=st=1692723678~exp=1692724278~hmac=af83f1351d7eca29def8b3dcf1498933eb21ec4edb3cb1dfbb84f94343647ea1" alt="">
                <div class="cards_content">
                    <h2>recette 1</h2>
                    <h3>Ingredients: </h3>
                    <ul>
                        <li>Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem, ipsum....</li>
                    </ul>

                    <h3>Préparation: </h3>
                    <p class="card_presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque iusto odio deleniti quam obcaecati! Consequuntur aperiam enim molestiae autem dignissimos perferendis quis, atque, sint officiis adipisci quidem laboriosam soluta.</p>
                    
                    <div class="card_btn">
                        <a class="heart_icon"><i class="fas fa-heart"></i></a>
                        <a class="tcb_btn">voir la recette</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards">
            <a class="tcb_btn_caroussel tcb_btn_caroussel_left">
                <i class="fas fa-arrow-up"></i>
            </a>
            <a class="tcb_btn_caroussel tcb_btn_caroussel_right">
                <i class="fas fa-arrow-up"></i>
            </a>
            <div class="card_title">
                PLATS
            </div>
            <div class="cards_container">
                <img src="https://img.freepik.com/photos-gratuite/mise-plat-ingredients-alimentaires-legumes_23-2148834702.jpg?w=1060&t=st=1692723903~exp=1692724503~hmac=97eeaa2f0b70a5cf903b8eafeef0212c8b9e515294371302aa8ceb1e29cac60e" alt="">
                <div class="cards_content">
                    <h2>recette 2</h2>
                    <h3>Ingredients: </h3>
                    <ul>
                        <li>Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem, ipsum....</li>
                    </ul>

                    <h3>Préparation: </h3>
                    <p class="card_presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque iusto odio deleniti quam obcaecati! Consequuntur aperiam enim molestiae autem dignissimos perferendis quis, atque, sint officiis adipisci quidem laboriosam soluta.</p>
                    
                    <div class="card_btn">
                        <a class="heart_icon"><i class="far fa-heart"></i></a>
                        <a class="tcb_btn">voir la recette</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards">
            <a class="tcb_btn_caroussel tcb_btn_caroussel_left">
                <i class="fas fa-arrow-up"></i>
            </a>
            <a class="tcb_btn_caroussel tcb_btn_caroussel_right">
                <i class="fas fa-arrow-up"></i>
            </a>
            <div class="card_title">
                DESSERTS
            </div>
            <div class="cards_container">
                <img src="https://img.freepik.com/photos-gratuite/vue-dessus-delicieux-poulet-frit-assaisonnements-legumes-espace-sombre_140725-75665.jpg?w=996&t=st=1692724002~exp=1692724602~hmac=339ce2f0e38b44b00ecae1db0faf0cb1dc94e2b2f5ae0285c949ccc6d8a90546" alt="">
                <div class="cards_content">
                    <h2>recette 3</h2>
                    <h3>Ingredients: </h3>
                    <ul>
                        <li>Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem, ipsum....</li>
                    </ul>

                    <h3>Préparation: </h3>
                    <p class="card_presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque iusto odio deleniti quam obcaecati! Consequuntur aperiam enim molestiae autem dignissimos perferendis quis, atque, sint officiis adipisci quidem laboriosam soluta.</p>
                    
                    <div class="card_btn">
                        <a class="heart_icon"><i class="far fa-heart"></i></a>
                        <a class="tcb_btn">voir la recette</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards">
            <a class="tcb_btn_caroussel tcb_btn_caroussel_left">
                <i class="fas fa-arrow-up"></i>
            </a>
            <a class="tcb_btn_caroussel tcb_btn_caroussel_right">
                <i class="fas fa-arrow-up"></i>
            </a>
            <div class="card_title">
                APERITIF
            </div>
            <div class="cards_container">
                <img src="https://img.freepik.com/photos-premium/mariner-mettre-du-poivre-conserve_75924-11719.jpg" alt="">
                <div class="cards_content">
                    <h2>recette 4</h2>
                    <h3>Ingredients: </h3>
                    <ul>
                        <li>Lorem, ipsum.</li>
                    </ul>

                    <h3>Préparation: </h3>
                    <p class="card_presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque iusto odio deleniti quam obcaecati! Consequuntur aperiam enim molestiae autem dignissimos perferendis quis, atque, sint officiis adipisci quidem laboriosam soluta.</p>
                    
                    <div class="card_btn">
                        <a class="heart_icon"><i class="far fa-heart"></i></a>
                        <a class="tcb_btn">voir la recette</a>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

{% endblock %}
