{% extends 'Front/front_base.html.twig' %}

{% block body %}
    <h1>Mentions légales</h1>

<p>Ceci sont des mentions légales fictives.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus, nisl id finibus malesuada, ex purus egestas sem, vel malesuada risus arcu id neque. Curabitur enim lorem, finibus vel feugiat in, pulvinar ac leo. Aenean rhoncus commodo lacus, ac congue mauris imperdiet eu. Integer tristique tortor eget lacus cursus finibus. Pellentesque nec commodo ex, a imperdiet enim.</p>

<p>Sed vehicula dolor sed eleifend fermentum. Nulla quis libero commodo, consectetur urna in, feugiat justo. Ut vestibulum condimentum turpis, eu varius mauris elementum bibendum. Nulla nunc mauris, cursus ut tincidunt et, aliquet id purus. Nam a metus id neque hendrerit consequat at in dui. Aliquam non sapien et orci consectetur sodales.</p>

<p>Donec hendrerit nisi non consectetur blandit. Duis ut risus vel tortor consequat condimentum. Etiam aliquet elit nec sagittis ornare. Etiam congue dapibus aliquet. Fusce pharetra at nulla at accumsan. Suspendisse vitae sapien id leo pulvinar convallis vel et justo. Ut nunc nulla, consectetur non metus ut, eleifend tincidunt nisl. Ut tempus ipsum ut malesuada fermentum. Sed pretium elit et turpis varius, ut tristique ligula fringilla.</p>
{% endblock %}