{% extends 'Front/front_base.html.twig' %}

{% block body %}
<h1>Mentions légales</h1>

    <h2>Editeur</h2>

        <p>The Cook Book
        Siège social : 3 avenue du beurre salé 56000 LORIENT</p>
    
    <h2>Hébergeur du site</h2>

        <p>Cloud O'Clock</p>

    <h2>Propriété intellectuelle</h2>

        <p>Les images, gif disponibles sur le site sont libres de droit. Nous attirons l’attention sur le fait que le Site contient des images pouvant être soumises au droit d’auteur de tiers.</p>

    <h2>Responsabilité</h2>

        <p>L’Editeur s’efforce d’apporter le plus grand soin à la création et à la mise à jour des pages et informations présentées sur le Site. Toutefois, la responsabilité de l’Editeur ne saurait être engagée en ce qui concerne l’exactitude, l’actualité et l’intégralité des informations mises à disposition. Toute responsabilité pour des dommages résultant directement ou indirectement de l’utilisation de ce site Internet est exclue si la loi l’autorise.

        Si ces pages du Site renvoient sur des pages Internet exploitées par des tiers, l’Editeur n’assume aucune responsabilité en ce qui concerne leur bon fonctionnement (principalement l’absence de virus) et leurs contenus.</p>

{% endblock %}