{% extends 'Front/front_base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
   


        {% for category in categories %}
        <div class="cards ">
            
            <div class="r_cards_container">
                <img src="{{category.picture}}">
            
                <div class="r_cards_content">
                    <h2>{{ category.title }}</h2>
                    
                    <div class="r_card_btn">
                        <a class="tcb_btn" href="{{ path('tcb_front_category_show', { 'slug' : category.slug}) }}">Voir les recettes</a>
                    </div>
                </div>
            </div>
            
        </div>
        {% endfor %}
        
{% endblock %}
