{% extends 'Front/front_base.html.twig' %}

{% block title %}Categories !{% endblock %}

{% block body %}

<body>
	
        <div class="titles_container">
            <h1 class="page_title">The Cook Book</h1>
            <p class="page_subTitle">Phrase définissant le site</p>
        </div>

 
		<table>
			<tr>
				
				<td>
					<figure>
					<figcaption><h3>Non de la categorie</h3></figcaption>
					<a href="projets_reseau_de_capteurs.html">
                <img src="https://img.freepik.com/vecteurs-libre/concept-recette-empanada_52683-39138.jpg?w=996&t=st=1692723678~exp=1692724278~hmac=af83f1351d7eca29def8b3dcf1498933eb21ec4edb3cb1dfbb84f94343647ea1"
					 border=5/></a>
					<figure>
				</td>
				<td>
					<figure>
					<figcaption><h3>Non de la categorie</h3></figcaption>
					<a href="projets_pilotage_de_carte.html">
                <img src="https://img.freepik.com/vecteurs-libre/concept-recette-empanada_52683-39138.jpg?w=996&t=st=1692723678~exp=1692724278~hmac=af83f1351d7eca29def8b3dcf1498933eb21ec4edb3cb1dfbb84f94343647ea1"
               
               
					 border=5/></a>
					</figure>
				</td>
				<td>
					<figure>
					<figcaption><h3>Non de la categorie</h3></figcaption>
					<a href="projets_reseau_de_capteurs.html">
                <img src="https://img.freepik.com/vecteurs-libre/concept-recette-empanada_52683-39138.jpg?w=996&t=st=1692723678~exp=1692724278~hmac=af83f1351d7eca29def8b3dcf1498933eb21ec4edb3cb1dfbb84f94343647ea1"
					 border=5/></a>
					<figure>
				</td>
				<td>
					<figure>
					<figcaption><h3>Non de la categorie</h3></figcaption>
					<a href="projets_reseau_de_capteurs.html">
                <img src="https://img.freepik.com/vecteurs-libre/concept-recette-empanada_52683-39138.jpg?w=996&t=st=1692723678~exp=1692724278~hmac=af83f1351d7eca29def8b3dcf1498933eb21ec4edb3cb1dfbb84f94343647ea1"
					 border=5/></a>
					<figure>
				</td>
			</tr>
		</table>

    <table>
			<tr>
				
				
			</tr>
		</table>
 
		
	</div>
 

 
{% endblock %} 
