{% extends 'Front/front_base.html.twig' %}

{% block title %}Les catégories
{% endblock %}

{% block body %}
    <main>
        <div class="main_container">


        <div class="titles_container">
            <h1 class="page_title">The Cook Book</h1>
            <p class="page_subTitle">Partage de recettes et éditions de portfolio</p>
        </div>
            {# ! voir SCSS pour centrer l'image #}
            <div class="carousel-container">
                {% for category in categories %}
                <div class="cards">
                <img src="{{category.picture}}">

                    <h2>{{ category.title }}</h2>
                    
                    <div class="centered-container">
                        <a class="tcb_btn" href="{{ path('tcb_front_recipe_recipesByCategory', { 'slug' : category.slug , 'id' : category.id}) }}">Voir les recettes</a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </main>
{% endblock %}
