{% extends 'Front/front_base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}

	<h1 class="mx-auto">Liste des catégories</h1>

    <div class="categories_container">
 
        {% for category in categories %}
            <a  href="{{ path('tcb_front_category_show', { 'slug' : category.slug})}}"
                class="tcb_card">

                    <img src="{{category.picture}}">

                    <h2>{{ category.title }}</h2>


                </a>
            {% endfor %}
    
    </div>

{% endblock %}
