@import '../reset.css';

// ! source : Mieux organiser ses fichiers CSS avec SASS
// ! https://front-back.com/mieux-organiser-ses-fichiers-css-avec-sass/

:root {
    --container-width: 1124px;
    --main-color: #078975;
    --main-color-header: #078975E0;
    --secondary-color: #f9f9f9;
    --main-text-color: #3F3735;
    --corail-color: #F55E51;
    --container-padding: 1rem 1.5rem;
    --border-color: #FFFFFF;


    // * Boostrap color
    --bs-btn-bg : var(--main-color)!important;
    --bs-btn-border-color: var(--main-color)!important;

    --bs-btn-hover-bg: white!important;
    --bs-btn-hover-color: var(--main-color)!important;
    --bs-btn-hover-border-color: var(--main-color)!important;
    
    --bs-btn-active-bg: #077565!important;
    --bs-btn-active-color: white!important;
    --bs-btn-active-border-color: #077565!important;

    --bs-btn-hover-border-color: var(--main-color)!important

}
     

html {
    scroll-behavior: smooth;
    color: var(--main-text-color);
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@import './about/about.css';
@import './login/login.css';
@import './recipes/recipes.css';
@import './recipe_show/recipe_show.css';
@import './homePage/homePage.css';
@import './chefs/chefs.css';
@import '../header/header.css';
@import '../footer/footer.css';
@import '../components/components.css';
//@import '../general/general.scss';


@media screen and (max-width: 768px) {

    html {
        font-size: 100% * calc(14/16);
    }

    html:has(#checkbox:checked) {
        overflow: hidden;

    }

    :root {
        --container-padding: 1rem 1rem;
    }

}