*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --container-width: 1124px;
    --main-color: #078975;
    --secondary-color: #f9f9f9;
    --main-text-color: #3F3735;
    --corail-color: #F55E51;
    --container-padding: 1rem 1.5rem;
}


html {
    scroll-behavior: smooth;
    color: var(--main-text-color);
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@import url("./reset.css");
@import url("./header/header.css");
@import url("./footer/footer.css");
@import "./components/components.scss";

/* Réduction de la largeur totale du tableau de la liste de recettes dans admin */
.table {
    max-width: 80%;
    margin: 0 auto;
}