// ! source:  https://writecode.fr/tutoriel/sass-limportation
form[name="login_form"], //  page login form
form[name="user_show_form"], // page ???? (mystère et pomme d'arosoir)
form[name="registration_form"],
.register_container{

    position: absolute;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 480px;

    padding-inline: 1em;
    margin: auto;
    font-size: 1.1em;
    color: var(--main-text-color);
    
    // user on template "register.html.twig" & "login.html.twig"
    // page header title (button "se connecter" & "s"inscrire)
    

    .info {
        color: var(#555);
        font-size: 0.7em;
    }
}
        

.page_register_title_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 2rem;
        
        &>a {
            width: max-content;
            text-align: center;
            color: var(--main-text-color);
            text-decoration: none;
            font-weight: 600;
            transition: 0.2s;
            
            &:visited {
                color: var(--main-text-color)
            }

            &.isDisabled {
                color: currentColor;
                opacity: 0.5;
                font-weight: normal;
            }
            
            &:hover {
                opacity: initial;
                color: var(--main-text-color);
            }
        }
    }