.categories_container,
.profile_recipes_container
{

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    
    --border-width: 2px;
    --duration-transition: 0.2s;
    --function-transition: ease-in;

    --image-scale: 1.05; 
    --translate-y: -3px;
    
    .tcb_card {
        position : relative;
        overflow: hidden;
        
        background-color: white;
        border: var(--border-width) solid white;
        border-radius: 0.75rem;
    
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
        cursor: pointer;

        transition: var(--duration-transition) var(--function-transition);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: var(--duration-transition) var(--function-transition);
            transform: scale(var(--image-scale));
        }

        h2, h3, h4, h5 {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            background-color: #00000080;
            --color: white;
            border-top: calc(var(--border-width)/2) solid var(--color);
            color: var(--color);
            padding-block: 1rem;
            text-align: center;
            box-shadow: 0 -2px 5px rgba($color: #000000, $alpha: 0.5);

            backdrop-filter: var(--backdrop-filter-blur);
        }

        .card_icons {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            display: grid;
            grid-template-columns: repeat(4, 1fr);

            border-bottom: calc(var(--border-width)/2) solid white;
            box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.5);

        }

        &:hover {
            
            transition: var(--duration-transition) var(--function-transition);
            box-shadow: 0 4px 7px 2px rgba($color: #000000, $alpha: 0.3);
            transform: translateY(var(--translate-y));

            
            img {
                transition: var(--duration-transition) var(--function-transition);
                transform: scale(1);
            }
        }

    }
}


// = personalisation de ma card dans le template/Front/user/recipes.html.twig 
.profile_recipes_container {

    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    .tcb_card {

        img {
            aspect-ratio: 16/12;
        }

        h4, h5 {
            padding-block: 0.75rem;
        }
    }
}


@media screen and (min-width: 768px) {
    .categories_container {
        grid-template-columns: repeat(2,  1fr);
    }

}

@media screen and (min-width: 576px) {

    .profile_recipes_container {

        grid-template-columns: repeat(2, 1fr);
    }
}