a.tcb_btn_arrow_top {
    width: 3rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);


    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;

    position: absolute;

    left: 50%;
    transform: translate(-50%, calc(-50%));
    transition: 0.25s;

    box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.2);

    &>i {
        color: white;
    }

    &:hover {
        background-color: var(--secondary-color);
        border-color: var(--main-color);

        i {
            color: var(--main-color);
        }
    }

}

.tcb_padding {
    padding: var(--container-padding)
}

a {
    text-decoration: none;
}

.tcb_btn {
    padding: 0.3rem 1rem;
    background-color: var(--main-color) !important;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: white!important;
    transition: 0.2s!important;

    &:hover {
        background-color: white !important;
        color: var(--main-text-color) !important;
    }
}

.heart_icon {
    cursor: pointer;
    color: var(--corail-color);
    font-size: 1.5rem;
}

h1 {font-size: 2em; font-weight: bold;}
h2 {font-size: 1.5em; font-weight: bold;}
h3 {font-size: 1.17em; font-weight: bold;}
h4 {font-size: 1em; font-weight: bold;}
h5 {font-size: 0.83em; font-weight: bold;}
h6 {font-size: 0.67em; font-weight: bold;}


@media screen and (max-width: 768px) {


    a.tcb_btn_arrow_top {

        padding: 0.8rem;
    }

}


main {

    .main_container {


        background-color: white;


        margin: 1rem auto;

        padding: var(--container-padding);

        max-width: var(--container-width);

    }
}


a {
    & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &.avatar {
        width: 3.5rem!important;
        height: 3.5rem!important;
    }

    &.login_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0; // 0  veut dire que l'element ne pas rétrécir
    
        position: relative;
        color: white;
        width: 3rem;
        height: 3rem;
        border-radius: 999px;
        
        
        overflow: hidden;
    
        transition: 0.2s;
    
        &:hover {
            color: var(--main-text-color);
        }
    
        &::after {
            // represente white circle above user image
            content: '';
            position: absolute;
            inset: 0;
            box-shadow: inset 0 0 3px black;
            border: 2px solid white;
            border-radius: 999px;
        }
    }
}



@import './form/form.css';
@import './searchBar/searchBar.css';
@import './sideBar/sideBar.css';