a.tcb_btn_arrow_top {
  width: 3rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.2);
}
a.tcb_btn_arrow_top > i {
  color: white;
}
a.tcb_btn_arrow_top:hover {
  background-color: var(--secondary-color);
  border-color: var(--main-color);
}
a.tcb_btn_arrow_top:hover i {
  color: var(--main-color);
}

.tcb_padding {
  padding: var(--container-padding);
}

a {
  text-decoration: none;
}

.tcb_btn {
  padding: 0.3rem 1rem;
  background-color: var(--main-color) !important;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: white !important;
  transition: 0.2s !important;
}
.tcb_btn:hover {
  background-color: white !important;
  color: var(--main-text-color) !important;
}

.heart_icon {
  cursor: pointer;
  color: var(--corail-color);
  font-size: 1.5rem;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

h5 {
  font-size: 0.83em;
  font-weight: bold;
}

h6 {
  font-size: 0.67em;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  a.tcb_btn_arrow_top {
    padding: 0.8rem;
  }
}
main .main_container {
  background-color: white;
  margin: 1rem auto;
  padding: var(--container-padding);
  max-width: var(--container-width);
}

a.login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999px;
  overflow: hidden;
  transition: 0.2s;
}
a.login_btn:hover {
  color: var(--main-text-color);
}
a.login_btn::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 3px black;
  border: 2px solid white;
  border-radius: 999px;
}
a.login_btn img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

form .invalid-feedback {
  font-style: italic;
  font-weight: 500;
  font-size: 0.6em;
  color: var(--corail-color);
  margin-left: 0.8em;
}
form .help-text {
  font-size: 0.5em;
  opacity: 0.8;
  font-weight: 500;
  margin-left: 1em;
  font-style: italic;
}
form input:invalid {
  border-color: var(--corail-color);
}
form input:valid {
  border-color: var(--main-color);
}
form button[type=submit] {
  background-color: var(--main-color);
  color: white;
  padding: 0.5em;
  border: 2px solid var(--main-color);
  font-size: 1.1em;
  width: 100%;
  margin-top: 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.2s;
}
form button[type=submit]:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
form button[type=submit]:focus {
  border-color: black;
}
form input[type=checkbox] {
  display: inline;
  width: unset;
  margin: 1em 0 0 1em;
  accent-color: var(--main-color);
  transform: translateY(2px);
}
form label[for=registration_form_agreeTerms] {
  display: inline;
  font-size: 0.6em;
}
form label,
form input {
  display: block;
}
form label,
form .page_title_container {
  width: 100%;
  margin-top: 1.5em;
}
form label {
  font-size: 0.9em;
  font-weight: bold;
}
form input {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 0.3em 0;
  font-size: 0.9em;
  margin-top: 0.8em;
  padding-inline: 0.5em;
  width: 100%;
  background-color: var(--secondary-color);
}
form input:focus {
  outline: none;
}/*# sourceMappingURL=components.css.map */