form {


    // div below input when user submit bad value
    .invalid-feedback {
        font-style: italic;
        font-weight: 500;
        font-size: 0.6em;
        color: var(--corail-color);
        margin-left: 0.8em;
    }

    // small element below inout (see formType, "help" option 
    // ex: "help" option used on RegistrationFormType.php
    .help-text {
        font-size: 0.5em;
        opacity: 0.8;
        font-weight: 500;
        margin-left: 1em;
        font-style: italic;
    }

    // invalide required input value 
    input:invalid {
        border-color: var(--corail-color);
    }

    // valid required input value 
    input:valid {
        border-color: var(--main-color);
    }

    // button submit inside form element
    button[type="submit"] {

        background-color: var(--main-color);
        color: white;
        padding: 0.5em;
        border: 2px solid var(--main-color);
        font-size: 1.1em;

        width: 100%;
        margin-top: 1.5em;

        border-radius: 0.5em;

        cursor: pointer;

        transition: 0.2s;

        &:hover {
            background-color: var(--secondary-color);
            color: var(--main-color);
            border-color: var(--main-color)!important;
        }

        &:focus {
            border-color: var(--main-color)!important;
            color: var(--main-color)!important;
            background-color: white;
            box-shadow: 0 0 0 0.25rem rgba($color: #078975, $alpha: 0.5)!important;
        }
    }

    // checkbox element inside form element
    input[type='checkbox'] {
        accent-color: red!important;
        transform: translateY(3px);
    }

    // label on registration template next agreeTerms checkbox
    label[for='registration_form_agreeTerms'] {
        display: inline;
        font-size: 0.6em;
    }

    label,
    input {
        display: block;
    }

    label,
    .page_title_container {
        width: 100%;
        margin-top: 1.5em;
    }

    label, legend {
        font-size: 0.9em;
        font-weight: bold;
    }

    input {

        border: none;
        border-bottom: 1px solid #ddd;
        padding: 0.3em 0;
        font-size: 0.9em;
        margin-top: 0.8em;
        padding-inline: 0.5em;
        width: 100%;
        background-color: var(--secondary-color);

        
    }

    input:focus,
    select:focus,
    textarea:focus {
        outline: none;
        box-shadow: 0 0 0 0.25rem rgba($color: #078975, $alpha: 0.5)!important;
    }

    
    

}