<p class="new-page"></p>
<div style="display: flex; justify-content: center; align-items: center; height: 100%;">
	<h2 class="category-title" style="width: 250px; height: 250px; line-height: 250px; text-align: center; border: 10px solid var(--bs-primary);">{{recipe.category.title}}</h2>
</div>

