{% extends 'Front/front_base.html.twig' %}

{% block title %}Erreur !
{% endblock %}

{% block body %}

	<h1 class="page_title"> Vous n'êtes pas admis en cuisine ! </h1>
		<p class="text-center">Vous devriez retourner sur
			<a href="{{ path('tcb_front_main_home')}}">la page d'accueil</a></p>
			<div class="text-center">
				<img src="https://media.giphy.com/media/I4UhtUMzOrQSQ/giphy.gif" alt="gif ramsay" width="400">
			</div>

		{% endblock %}

