{% extends 'Front/user/profile.html.twig' %}

{% block content %}
    <div class="profile-container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Ebook de {{ user.firstname }}</h2>
        </div>
        <div class="text-center">
        <p>Vous n'avez pas recettes dans votre ebook ! Cliquez sur <a href="{{ path('tcb_front_user_getRecipesByUserLog', { 'slug' : user.slug}) }}">Mes recettes</a> pour en ajouter à votre ebook</p>
        <img src="https://media2.giphy.com/media/ZeRYb8bhr6NbO6lac0/giphy.gif" class="my-4" width="200">
        </div>

{% endblock %}

