.r_cards_container {

    //padding: 1rem;
    --margin-top: 1rem;

    img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 10;
    }

    .r_cards_content {
        padding: 0;
        width: 100%;

        h2:first-child {
            margin-top: 0;
        }

        h2,
        h3 {
            
            font-size: 1.4rem;
            font-weight: bold;
            margin-top: var(--margin-top);
        }


        h3 {
            font-size: 1.2rem;
        }

        ul {
            display: unset;
            flex-direction: column;

            li {
                margin-left: 2rem;
                list-style: disc;
            }
        }

        .r_card_presentation {
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .r_card_btn {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;
        }
    }
}


@media screen and (min-width: 700px) {

    .r_cards_container {
    
        img {
            aspect-ratio: 16 / 4;
        }
    
        .r_card_presentation {
    
        }
    }

}